* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.who {
  opacity: 0.6;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 12px;
}

.namaste {
  color: #27b4b6;
  letter-spacing: 5px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 35px;
}

.other {
  opacity: 0.6;
  line-height: 200%;
  font-size: 18px;
  letter-spacing: 1px;
}

.card {
  width: 300px;
  height: 420px;
  float: left;
  text-align: center;
  background-color: #dadada60;
  border: 1px solid #dadada94;

  transition: all 0.3s;
}

.card:hover {
  background-color: #27b4b6;
  border-color: white;
  color: white;
}

.main {
  display: inline-block;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

.photo {
  padding: 56px 0 42px;
  font-size: 64px;
}

.title {
  padding: 0 30px 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text {
  padding: 0 30px;
  opacity: 0.6;
}
