* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: #0b1d26;
  min-height: 100vh;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: tomato;
}

.header {
  position: fixed;
  /*Розтягуємо блок по ширині*/
  top: 0;
  left: 0;
  right: 0;
  padding: 0 80px;
  height: 150px;
  /*розміщує елементи в блоці горизонтально (головна ось)*/
  display: flex;
  /*задаємо напямок головної осі*/
  flex-direction: row;
  /*розміщуємо контенкт вселедині контейнеру рівномірно по всій ширині. Три блоки розміщуються автоматично по заданій ширині з рівномірними відступами один між одним*/
  /*justify-content: space-around; - вирівнює контент по ширині, але залишає перед першим елементом та після останнього відступи, котрі дорівнюють відступам між елементами*/
  justify-content: space-between;
  /*вирівнюємо наші елементи по центру вертикально, флекс розмістив їх зверху*/
  align-items: center;
}

.header_logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  line-height: 38px;
}

.header_nav,
.header_account {
  font-weight: 700;
}

.nav_link {
  margin: 0 20px;
}
.nav_link.back {
  color: yellow;
}

.hero {
  height: 2100px;
  background: grey;
  background-image: url(../img/Slice\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* якщо в background-image вказати декілька фото, або фото+ градієнт, потім можна їх спозиціонувати (background-position). Якщо ми вказуємо 4 елементи на бекграунд, їх позиції задаємо в тому порядку, в якому вказували самі елементи
  background-image: 1,
  2,
  3,
  4;
  background-position: center(1), bottom(2), top(3), center(4); */
  padding: 150px 0;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 88px;
  line-height: 100px;
  font-weight: 600;
  width: 900px;
  margin: 200px auto;
}

.content {
  counter-reset: step;
  margin-top: -200px;
}

.container {
  max-width: 1502px;
  padding: 20px;
  margin: 0 auto;
}

.step {
  display: flex;
  margin-bottom: 200px;
}

.step > *:first-child {
  margin-right: 114px;
}

.step_content {
  padding: 100px 0 140px 150px;
  position: relative;
}

.step_content::before {
  counter-increment: step;
  content: "0" counter(step);
  position: absolute;
  left: 0;
  top: 38px;
  font-size: 240px;
  font-weight: 600;
  opacity: 0.1;
  line-height: 240px;
}

.step_name {
  color: #fbd784;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 27px;
  font-weight: 800;
  letter-spacing: 6px;
}

/*Потрібно розібратися з Step_name before*/
.step_name::before {
  content: "";
  width: 72px;
  height: 2px;
  margin-right: 24px;
  display: inline-block;
  /* псевдо елементи є за замовчуванням рядковими, інлайн блок дає можливість примінити до нього значення width*/
  background: currentColor;
  position: relative;
  top: -5px;
}

.step_title {
  font-size: 64px;
  line-height: 77px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 27px;
}

.step_description {
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 27px;
}

.step_link > a {
  color: #fbd784;
  line-height: 22px;
  font-size: 18px;
}

.step_link::after {
  content: "→";
  font-weight: 700;
  color: #fbd784;
  margin-left: 16px;
  display: inline-block;
}

.step_img {
  width: 566px;
  flex-shrink: 0;
}

/* Якщо розміри картинки не підходять під бажані
.step_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
